.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #030357;

  --primary-color: #0857ff;
  --secondary-color: #0232c2;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}